<!-- Thanks to AozoraLabs by Marcello Palmitessa for the BootMetro UI -->

<!doctype html>

<html>
	<head>
		
			<title>Float</title>
		
	</head>
	
	<body>
		<div class="container-fluid">
	      <div class="row-fluid">
	         <div class="metro span12">
	            <div class="metro-sections">
	   
	               <div id="section1" class="metro-section tile-span-4">
	   
	                  <h2>Facebook Tiles</h2>
	   
	                  <a class="tile wide imagetext bg-color-blueDark" href="#">
	                    
	                  </a>
	   
	                  <a class="tile wide imagetext wideimage bg-color-orange" href="#">
	                    
	                  </a>
	   
	                  <a class="tile app wide bg-color-greenDark" href="#">
	                     
	                  </a>
	   
	                  <a class="tile app bg-color-purple" href="#">
	                     
	                  </a>
	   
	                  <a class="tile app bg-color-red" href="#">
	                     
	                  </a>
	   
	                  <a class="tile app bg-color-yellow" href="./images.html">
	                    
	                  </a>
	   
	                  <a class="tile app bg-color-blueDark" href="./icons.html">
	                     
	                  </a>
	   
	               </div>
	   
	               <div id="section2" class="metro-section tile-span-4">
	   
	                  <h2>Bootstrap Metro</h2>
	   
	                  <a class="tile wide imagetext bg-color-blue" href="./bootstrap-scaffolding.html">
	                    
	                  </a>
	   
	                  <a class="tile wide imagetext bg-color-blueDark" href="./bootstrap-base-css.html">
	                 
	                  </a>
	   
	                  <a class="tile app bg-color-orange" href="./bootstrap-components.html">
	                    
	                  </a>
	   
	                  <a class="tile app bg-color-red" href="./bootstrap-javascript.html">
	                    
	                  </a>
	   
	               </div>
	   
	               <div id="section3" class="metro-section tile-span-2">
	                  <h2>Category 3</h2>
	                  <div class="tile tile-double bg-color-blue">
	                        
	                  </div>
	                  <div class="tile bg-color-blueDark">
	                  
	                  </div>
	                  <div class="tile bg-color-red">
	                     
	                  </div>
	                  <div class="tile bg-color-green">
	                                       </div>
	                  <div class="tile bg-color-yellow">
	                     
	                  </div>
	               </div>
	   
	            </div>
	         </div>
	   
	            <!-- <a id="tiles-scroll-prev" class="win-command carousel-control left" href="#metro-carousel" data-slide="prev">
	               <span class="win-commandimage win-commandring">&#xe05d;</span>
	            </a>
	            <a id="tiles-scroll-next"  class="win-command carousel-control right" href="#metro-carousel" data-slide="next">
	               <span class="win-commandimage win-commandring">&#xe059;</span>
	            </a> -->
	   
	         </div>
	      </div>
	   </div>
	</body>
	
</html>